

/* .aboutpage-container {
  display: block;
  padding-top: 070px;
  padding: 70px 10px 0px 10px;
  width: 100%;
} */

h1 {
  text-align: center;
  width: 100%;
}

#profile {
  width: 400px;
  height: 500px;
}