.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: rgb(147, 147, 231);
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-box div {
  margin-bottom: 1rem;
}

.login-box label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: left;
}

.login-box input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #636363;
  font-size: 1rem;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

